<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<head>
  <title>TinyApp</title>
</head>
<body>
  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
    <label for="updatedURL">ShortURL: <a href = 'http://localhost:8080/u/<%= shortURL %>'>http://localhost:8080/u/<%= shortURL %></a><br></label>
    <input id="updatedURL" type="text" name="updatedURL" placeholder="<%= urlsInfo[0] %>" style="width: 300px">
    <input type="submit" value="Update">
    <p>Created Date: <%= urlsInfo[1] %> / Visited Times: <%= urlsInfo[2] %> / Unique Visits: <%= urlsInfo[3].length %> </p>
  </form>
</body>
</html>