<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<body>
  <p style="display:inline">
      <% Object.getOwnPropertyNames(urls).forEach(function(url) { %>
      <a href="http://localhost:8080/urls/<%= url %>"><%= url %></a>   ->   <a href=<%= urls[url] %>><%= urls[url] %></a>
      <form action="/urls/<%= url %>/delete" method="post" style="display:inline">
        <input type="submit" name="delete" value="Delete"/>
      </form>
      <br>
    <% }); %>
  </p>
</body>
</html>